<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date : 'medium'}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef> Latitude </th>
      <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef> Longitude </th>
      <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="altitude">
      <th mat-header-cell *matHeaderCellDef> Altitude </th>
      <td mat-cell *matCellDef="let element"> {{element.altitude}} </td>
    </ng-container>

    <!-- Symbol Satellite -->
    <ng-container matColumnDef="satellite">
      <th mat-header-cell *matHeaderCellDef> Satellite </th>
      <td mat-cell *matCellDef="let element"> {{element.satellite}} </td>
    </ng-container>

    <!-- Symbol Num -->
    <ng-container matColumnDef="num">
      <th mat-header-cell *matHeaderCellDef> Num </th>
      <td mat-cell *matCellDef="let element"> {{element.num}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="download()">Download CSV</button>
    </div>
  </section>