<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sonde le fond de mon coeur 3000</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon"></mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<app-front-info></app-front-info>
