<div class = chart>
    <canvas ngChartjs [datasets]="lineChartData" [labels]="lineChartLabels"
    [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType"
    [inlinePlugins]="inlinePlugin">
</canvas>

<section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="download()">Download CSV</button>
    </div>
  </section> 
</div>