<mat-tab-group class="presentation-class">
    <mat-tab label="Température"> 
        <app-temperature-component></app-temperature-component>
     </mat-tab>
    <mat-tab label="Pression"> <app-presure-component></app-presure-component> </mat-tab>
    <mat-tab label="Qualité de l'air"> <app-quality-component></app-quality-component> </mat-tab>
    <mat-tab label="GPS"> <app-gps-data-component></app-gps-data-component> </mat-tab>
  </mat-tab-group>
